{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <legend><i class="fa fa-list-alt" aria-hidden="true"></i> {{ subscription.timetable.name }}</legend>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.type) }}
                                        
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
